.content h2, .content h6 {
    padding-bottom: 15px;
    text-align: center;
    border-bottom: 1px solid aliceblue;
}

.content h3 {
    text-indent: 30px;
}

@media (max-width: 576px) {
    .content h3 {
        margin-top: 30px;
    }

    .content h2 {
        margin-top: 20px;
    }

    .nav-obs {
        font-size: 18px;
    }
}

.content p {
    text-align: justify;
    text-indent: 30px;
}

.row {
    margin: 5px;
    padding: 10px;
}

.video-area {
    text-align: center;
}

.side-img-space {
    width: 100%;
    height: auto;
    background-size: cover;
    margin-left: 1px;
    box-shadow: 0 0 10px aliceblue, 0 0 40px aliceblue;
}