{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/users/basic.css' %}">
    <link rel="stylesheet" href="{% static 'css/users/login.css' %}">
{% endblock %}

{% block content %}
    <div class="wrapper">
        <h1>Авторизация</h1>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>

            <div class="input-box">{{ form.username }}<i class="fa-solid fa-user"></i></div>
            <div class="form-error">{{ form.username.errors }}</div>

            <div class="input-box">{{ form.password }}<i class="fa-solid fa-lock"></i></div>
            <div class="form-error">{{ form.password.errors }}</div>

            <div class="remember-forgot">
                <label><input type="checkbox"> Запомнить меня</label>
                <a href="{% url 'users:password_reset' %}">Забыли пароль?</a>
            </div>
            <button type="submit" class="btn1">Войти</button>
            <div class="register-link">Еще нет аккаунта? <a href="{% url 'users:register' %}">Зарегистрироваться</a>
            </div>
            <div class="col item-social">
                <a class="" href="{% url "social:begin" "github" %}">
                    <i class="fa-brands fa-github"></i></a>
                <a class="unactive" href="#">
                    <i class="fa-brands fa-instagram"></i></a>
                <a class="unactive" href="#">
                    <i class="fa-brands fa-facebook"></i></a>
                <a class="" href="{% url "social:begin" "google-oauth2" %}">
                    <i class="fa-brands fa-google"></i></a>
            </div>
        </form>
    </div>
{% endblock %}
