{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/users/basic.css' %}">
    <link rel="stylesheet" href="{% static 'css/users/password_reset_confirm.css' %}">
{% endblock %}

{% block content %}
    <div class="wrapper">
        <h1>Восстановление пароля</h1>
        {% if validlink %}

            <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

            <form action="" method="post">
                {% csrf_token %}
                <div class="form-error">{{ form.non_field_errors }}</div>

                <div class="input-box">{{ form.new_password1 }}<i class="fa-solid fa-lock"></i></div>
                <div class="form-error">{{ form.new_password1.errors }}</div>

                <div class="input-box">{{ form.new_password2 }}<i class="fa-solid fa-lock"></i></div>
                <div class="form-error">{{ form.new_password2.errors }}</div>


                <button type="submit" class="btn1">Сменить пароль</button>
            </form>

        {% else %}

            <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

        {% endif %}
    </div>
{% endblock %}
