{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/users/basic.css' %}">
    <link rel="stylesheet" href="{% static 'css/users/password_reset_done.css' %}">
{% endblock %}

{% block content %}
    <div class="wrapper">
        <h1>Успешный успех!</h1>
        <p>На указанный адрес были отправлены дальнейшие инструкции.</p>
        <p>Если вы не получили письмо, проверьте правильность написания указанного E-mail.</p>
    </div>
{% endblock %}
