{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/users/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/users/login.css' %}">
{% endblock %}

{% block content %}
    <div class="wrapper">
        <h1>Восстановление пароля</h1>
        <form method="post">
            {% csrf_token %}

            <div class="input-box">{{ form.email }}<i class="fa-solid fa-user"></i></div>
            <div class="form-error">{{ form.email.errors }}</div>

            <button class="btn1" type="submit">Отправить письмо с инструкциями</button>
        </form>
    </div>
{% endblock %}
