{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/users/basic.css' %}">
    <link rel="stylesheet" href="{% static 'css/users/password_reset_complete.css' %}">
{% endblock %}

{% block content %}
    <div class="wrapper">
        <h1>Пароль восстановлен</h1>
        <form method="get" action="{% url 'users:login' %}">
            <button class="btn1" type="submit">Вернуться к авторизации</button>
        </form>
    </div>
{% endblock %}
