{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/users/basic.css' %}">
    <link rel="stylesheet" href="{% static 'css/users/password_reset_complete.css' %}">
{% endblock %}

{% block content %}
    <div class="wrapper">
        <h1>E-mail подтвержден!</h1>
        <form method="get" action="{% url 'index' %}">
            <button class="btn1" type="submit">Вернуться на главную страницу</button>
        </form>
    </div>
{% endblock %}
