{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/titans.css' %}">
{% endblock %}

{% block left_offcanvas %}
    <nav class="nav nav-pills nav-obs flex-column">
        {% for chapter in chapters %}
            <a class="nav-link" href="#{{ chapter.slug }}">{{ chapter.name }}</a>
        {% endfor %}
        {% for old_titan in old_titans %}
            <a class="nav-link" href="#{{ old_titan.slug }}">{{ old_titan.name }}:</a>
            {% for new_titan in old_titan.children.all %}
                <a class="nav-link ms-3 my-1"
                   href="#{{ new_titan.slug }}">- {{ new_titan.name }}</a>
            {% endfor %}
        {% endfor %}
    </nav>
{% endblock %}


{% block content %}
    <section>

        <!--------------------------- Content Section ------------------------>

        <div class="container content text-shadow">
            <div data-bs-spy="scroll" data-bs-target="#navbar-obs" data-bs-smooth-scroll="true" tabindex="0">
                {% for chapter in chapters %}
                    <div class="row align-items-center">
                        <div class="col-12">
                            <h2 id="{{ chapter.slug }}">{{ chapter.name }}</h2>
                            <p>
                                {{ chapter.upper_text }}
                            </p>
                        </div>
                    </div>

                    {% for block in chapter.content.all %}
                        {% if block.image %}
                            <div class="row align-items-center justify-content-between">
                                <div class="col-lg-8 col-md-6 col-sm-12">
                                    <p>{{ block.content }}</p>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 test">
                                    <img src="{{ block.image.url }}" alt="bruh"
                                         class="img-fluid white-shadow">
                                    <h6>{{ block.media_descr }}</h6>
                                </div>
                            </div>
                        {% endif %}

                        {% if block.video_link %}
                            <div class="row align-items-center">
                                <div class="col-lg-6 col-sm-12">
                                    <p>{{ block.content }}</p>
                                </div>
                                <div class="col-lg-6 col-sm-12 video-area">
                                    <iframe width="auto" height="auto"
                                            src="{{ block.video_link }}"
                                            title="YouTube video player"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                            allowfullscreen style="box-shadow: 0 0 10px aliceblue, 0 0 40px aliceblue;">
                                    </iframe>
                                    <h6>{{ block.media_descr }}</h6>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="row align-items-center">
                        <div class="col-12">
                            <p>
                                {{ chapter.lower_text }}
                            </p>
                        </div>
                    </div>
                {% endfor %}

                <!-- ----------------------------- Titans section -------------------------- -->

                {% for old_titan in old_titans %}
                    <div class="row">
                        <div class="col12">
                            <h2 id="{{ old_titan.slug }}">{{ old_titan.name }}</h2>
                        </div>
                    </div>

                    <div class="row align-items-center justify-content-between">
                        <div class="col-lg-8 col-md-6 col-sm-12">
                            <p>{{ old_titan.mp_descr }}</p>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 test">
                            <img src="{{ old_titan.mp_image.url }}" alt="bruh" class="img-fluid white-shadow">
                        </div>
                    </div>

                    {% for new_titan in old_titan.children.all %}
                        <div class="row align-items-center justify-content-between">
                            <a style="color: aliceblue" href="{{ new_titan.get_absolute_url }}">
                                <h3 id="{{ new_titan.slug }}">{{ new_titan.name }}</h3></a>
                            <div class="col-lg-8 col-md-6 col-sm-12">
                                <p>{{ new_titan.mp_descr }}</p>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 test">
                                <img src="{{ new_titan.mp_image.url }}" alt="bruh" class="img-fluid white-shadow">
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </section>

    <!--------------------------- Footer section --------------------------->

    {% include 'footer.html' %}

{% endblock %}

{% block additional_scripts %}
{#    <script>#}
{#        const openButton = document.getElementById("open-offvanvas-button");#}
{#        const closeButton = document.getElementById("close-offvanvas-button");#}
{#        openButton.style.visibility = 'hidden';#}
{##}
{#        openButton.addEventListener('click', function () {#}
{#            openButton.style.visibility = 'hidden';#}
{#        });#}
{##}
{#        closeButton.addEventListener('click', function () {#}
{#            openButton.style.visibility = 'visible';#}
{#        });#}
{##}
{#    </script>#}
{% endblock %}
