{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/titan-model.css' %}">
{% endblock %}
{% block content %}

    <!-- --------------------------Offcanvas (side navigation)------------------------ -->

    <button id="open-offvanvas-button" class="btn menu-btn" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
        <i class="icon-chart-line icon"></i>
    </button>

    <div class="offcanvas offcanvas-start offcanvas-obs" data-bs-scroll="true" data-bs-backdrop="false"
         tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasScrollingLabel">{{ titan.name }}</h5>
            <button id="close-offvanvas-button" type="button" class="btn-close" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <nav id="navbar-obs" class="h-100 flex-column align-items-stretch">
                <nav class="nav nav-pills nav-obs flex-column">
                    <a class="nav-link obs-link" href="#info">Описание</a>
                    <a class="nav-link obs-link" href="#weapon">Оборудование и вооружение</a>
                    {% for weapon in titan.weapon.all|dictsort:'id' %}
                        <a class="nav-link obs-link ms-3 my-1" href="#{{ weapon.slug }}">{{ weapon.name }}"</a>
                    {% endfor %}
                    <a class="nav-link obs-link" href="#additional-modules">Дополнительные комплекты</a>
                    {% if titan.name == 'Монарх' %}
                        <a class="nav-link obs-link" href="#monarch_core">Эволюция ядра</a>
                    {% endif %}
                    <a class="nav-link obs-link" href="#strategy">Стратегия</a>
                </nav>
            </nav>
        </div>
    </div>

    <section>
        <div class="container content text-shadow white-shadow">
            <div data-bs-spy="scroll" data-bs-target="#navbar-obs" data-bs-smooth-scroll="true" tabindex="0">
                <div class="row text-center">
                    <h1>{{ titan.name }}</h1>
                </div>
                <div class="row align-items-center">
                    <div class="col-12">
                        <h2 id="info">Описание</h2>
                        <p>{{ titan.full_descr }}</p>
                    </div>
                </div>

                <div class="row text-center">
                    <div class="col-12">
                        <iframe width="560" height="315"
                                src="{{ titan.video_link }}"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen style="box-shadow: 0 0 10px aliceblue, 0 0 40px aliceblue;">
                        </iframe>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 text-center">
                        <h2 id="weapon">Оборудование и Вооружение</h2>
                    </div>
                </div>

                {% for weapon in titan.weapon.all|dictsort:'id' %}
                    <div class="row align-items-center justify-content-between">
                        <h3 id="{{ weapon.slug }}">{{ weapon.name }}</h3>
                        <div class="{% if weapon.weapon_type == 'MW' %}col-12{% else %}col-lg-9 col-md-6 col-sm-12{% endif %}">
                            <p>{{ weapon.descr }}</p>
                        </div>
                        <div class="{% if weapon.weapon_type == 'MW' %}col-12{% else %}col-lg-3 col-md-6 col-sm-12 test{% endif %}">
                            <img src="{{ weapon.weapon_image.url }}" alt="bruh"
                                 class="img-fluid {% if weapon.weapon_type == 'MW' %}white-shadow{% endif %}">
                        </div>
                    </div>
                {% endfor %}

                <!-- --------------------------Additional ammunition-------------------------- -->

                <div class="row">
                    <div class="col-12 text-center">
                        <h2 id="additional-modules">Дополнительные комплекты</h2>
                    </div>
                </div>

                {% for kit in titan.kits.all|dictsort:'id' %}
                    <div class="row align-items-center add-padding">
                        <div class="col-12">
                            <h3>{{ kit.name }}</h3>
                            <p>{{ kit.descr }}</p>
                        </div>
                    </div>
                {% endfor %}

                <!-- ----------------------Only for Monarch------------------ -->

                {% if titan.name == 'Монарх' %}

                    <div class="row">
                        <div class="col-12 text-center">
                            <h2 id="monarch_core">Эволюция ядра</h2>
                        </div>
                    </div>

                    {% for stage in core_stages %}
                        <div class="row align-items-center justify-content-between">
                            <div class="col-12">
                                <p>{{ stage.descr }}</p>
                            </div>
                            {% for evolution in stage.upgrades.all %}
                                <div class="col-lg-10 col-md-6 col-sm-12">
                                    <p>{{ evolution.content }}</p>
                                </div>

                                <div class="col-lg-2 col-md-6 col-sm-12 test">
                                    <img src="{{ evolution.image.url }}" alt="bruh" class="img-fluid">
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endif %}

                <!-- ----------------------Strategy------------------ -->

                <div class="row">
                    <div class="col-12 text-center">
                        <h2 id="strategy">Стратегия</h2>
                    </div>
                </div>

                {% for strategy_block in titan.strategy.all %}
                    <div class="row align-items-center justify-content-between">
                        <div class="col-12">
                            <p>{{ strategy_block.content|linebreaks }}</p>
                            <br>
                        </div>
                        <div class="col-12">
                            <img src="{{ strategy_block.image.url }}" alt="bruh"
                                 class="side-img-space white-shadow justify-content-center text-center">
                        </div>
                    </div>
                    <br>
                {% endfor %}


            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-6">
                    <h4>

                    </h4>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}


{% block additional_scripts %}
    <script>
        const nav = document.querySelector('nav');
        window.addEventListener('scroll', function () {
            if (window.pageYOffset > 100) {
                nav.classList.add('transparent-nav');
            } else {
                nav.classList.remove('transparent-nav');
            }
        });

        const openButton = document.getElementById("open-offvanvas-button");
        const closeButton = document.getElementById("close-offvanvas-button");

        openButton.addEventListener('click', function () {
            openButton.style.visibility = 'hidden';
        });

        closeButton.addEventListener('click', function () {
            openButton.style.visibility = 'visible';
        });

    </script>
{% endblock %}
