{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/titans.css' %}">
{% endblock %}
{% block content %}
    <section>

        <!--------------------------- Offcanvas (side navigation) --------------->

        <button class="btn menu-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
                aria-controls="offcanvasScrolling">
            <i class="icon-chart-line icon"></i>
        </button>

        <div class="offcanvas offcanvas-start offcanvas-obs" data-bs-scroll="true" data-bs-backdrop="false"
             tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Содержание</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <nav id="navbar-obs" class="h-100 flex-column align-items-stretch">
                    <nav class="nav nav-pills nav-obs flex-column">
                        <a class="nav-link obs-link" href="#info">Общие сведения</a>
                        <a class="nav-link obs-link" href="#dropout">Высадка титанов</a>
                        <a class="nav-link obs-link" href="#change">Переломный момент</a>
                        <a class="nav-link obs-link" href="#atlas">Атлас:</a>
                        <a class="nav-link obs-link ms-3 my-1" href="#ion">Ион</a>
                        <a class="nav-link obs-link ms-3 my-1" href="#ton">Тон</a>
                        <a class="nav-link obs-link" href="#ogre">Огр:</a>
                        <a class="nav-link obs-link ms-3 my-1" href="#scorch">Скорч</a>
                        <a class="nav-link obs-link ms-3 my-1" href="#legion">Легион</a>
                        <a class="nav-link obs-link" href="#strayder">Страйдер:</a>
                        <a class="nav-link obs-link ms-3 my-1" href="#ronin">Ронин</a>
                        <a class="nav-link obs-link ms-3 my-1" href="#northstar">Нордстар</a>
                        <a class="nav-link obs-link" href="#unusial">Особая категория:</a>
                        <a class="nav-link obs-link ms-3 my-1" href="#monarch">Монарх</a>
                    </nav>
                </nav>
            </div>
        </div>

        <div class="container content text-shadow">
            <div data-bs-spy="scroll" data-bs-target="#navbar-obs" data-bs-smooth-scroll="true" tabindex="0">
                {% for chapter in chapters %}
                    <div class="row align-items-center">
                        <div class="col-12">
                            <h2 id="info">{{ chapter.name }}</h2>
                            <p>
                                {{ chapter.upper_text }}
                            </p>
                        </div>
                    </div>

                    {% for block in chapter.content.all %}
                        {% if block.image %}
                            <div class="row align-items-center justify-content-between">
                                <div class="col-lg-8 col-md-6 col-sm-12">
                                    <p>{{ block.content }}</p>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 test">
                                    <img src="{{ block.image.url }}" alt="bruh"
                                         class="img-fluid white-shadow">
                                    <h6>{{ block.image_or_video_descr }}</h6>
                                </div>
                            </div>
                        {% endif %}

                        {% if block.video_link %}
                            <div class="row align-items-center">
                                <div class="col-lg-6 col-sm-12">
                                    <p>{{ block.content }}</p>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <iframe width="auto" height="auto"
                                            src="{{ block.video_link }}"
                                            title="YouTube video player"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                            allowfullscreen style="box-shadow: 0 0 10px aliceblue, 0 0 40px aliceblue;">
                                    </iframe>
                                    <h6>{{ block.image_or_video_descr }}</h6>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="row align-items-center">
                        <div class="col-12">
                            <p>
                                {{ chapter.lower_text }}
                            </p>
                        </div>
                    </div>
                {% endfor %}

                <!-- ------------------------- Titan section -------------------------- -->

                {% for old_titan in old_titans %}
                    <div class="row">
                        <div class="col12">
                            <h2 id="atlas">{{ old_titan.name }}</h2>
                        </div>
                    </div>

                    <div class="row align-items-center justify-content-between">
                        <div class="col-lg-8 col-md-6 col-sm-12">
                            <p>{{ old_titan.mp_descr }}</p>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 test">
                            <img src="{{ old_titan.mp_image.url }}" alt="bruh" class="img-fluid white-shadow">
                        </div>
                    </div>

                    {% for new_titan in old_titan.children.all %}
                        <div class="row align-items-center justify-content-between">
                            <a href="{{ new_titan.get_absolute_url }}"><h3
                                    id="{{ new_titan.slug }}">{{ new_titan.name }}</h3></a>
                            <div class="col-lg-8 col-md-6 col-sm-12">
                                <p>{{ new_titan.mp_descr }}</p>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 test">
                                <img src="{{ new_titan.mp_image.url }}" alt="bruh" class="img-fluid white-shadow">
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-6">
                    <h4>

                    </h4>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block additional_scripts %}
    <script>
        var nav = document.querySelector('nav');
        window.addEventListener('scroll', function () {
            if (window.pageYOffset > 100) {
                nav.classList.add('transparent-nav');
            } else {
                nav.classList.remove('transparent-nav');
            }
        });
    </script>
{% endblock %}
