{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/basic/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/basic/base.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'img/Titanfan2-logo.png' %}" type="image/x-icon">
    {% block css %}{% endblock %}
    <title>{{ title }}</title>
</head>

<body>

{#---------------------------------------------- NavBar Section ------------------------------------------------------#}
<nav class="navbar fixed-top navbar-dark p-md-3 transparent-nav">
    <div class="container">

        {#        ---------------------------Left Offcanvas Button ------------------------#}
        <button id="open-offvanvas-button" class="navbar-toggler navbar-inverse" type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
            <span>Содерж.</span>
        </button>

        {#        -----------------------------------TF2 Logo-------------------------#}
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'img/Titanfan2-logo.png' %}" alt="Logo" width="40" height="40"
                 class="d-inline-block align-text-top">
            <span class="ps-1">Titan Fun 2</span>
        </a>

        {#        ----------------------Right Offcanvas Button(Menu toggler)----------------------#}
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
                aria-controls="offcanvasDarkNavbar">
            <span>Меню</span>
        </button>
    </div>
</nav>


{#--------------------------------------------- Offcanvas Section ----------------------------------------------------#}

{#------------------------------------------ Left Offcanvas(Content) -------------------------------------------------#}
<div class="offcanvas offcanvas-start offcanvas-obs {% if show_offcanvas %} temp2 {% endif %}" data-bs-scroll="true"
     data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Содержание</h5>
        <button id="close-offvanvas-button" type="button" class="btn-close btn-close-white"
                data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <nav id="navbar-obs" class="h-100 flex-column align-items-stretch">
            {% block left_offcanvas %}{% endblock %}
        </nav>
    </div>
</div>

{#-------------------------------------------- Right Offcanvas(Menu) -------------------------------------------------#}
<div class="offcanvas offcanvas-end offcanvas-obs" tabindex="-1" id="offcanvasDarkNavbar" data-bs-scroll="true"
     data-bs-backdrop="false"
     aria-labelledby="offcanvasDarkNavbarLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Главное меню</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'titans' %}">Титаны</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Пилоты</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Вооружение</a>
            </li>

            {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'admin:index' %}">Администрирование</a>
                </li>
            {% endif %}

            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'users:profile' %}">Профиль</a>
                    <form method="post" action="{% url 'users:logout' %}">
                        {% csrf_token %}
                        <button class="logout" type="submit">Выйти</button>
                    </form>
                </li>

            {% else %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'users:login' %}">Войти</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>

{% block content %}{% endblock %}

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="https://kit.fontawesome.com/c0b4b209ad.js" crossorigin="anonymous"></script>
{% block additional_scripts %}{% endblock %}

</body>
</html>