<footer class="footer-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 item">
                <h3>Категории</h3>
                <ul>
                    <li><a href="{% url 'titans' %}">Титаны</a></li>
                    <li><a href="#">Пилоты</a></li>
                    <li><a href="#">Вооружение</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
                <h3>Временно не доступно</h3>
                <ul>
                    <li><a href="#">;(</a></li>
                    <li><a href="#">;(</a></li>
                    <li><a href="#">;(</a></li>
                </ul>
            </div>
            <div class="col-md-6 item text">
                <h3>TitanFun 2</h3>
                <p>Titan Fun 2 - Это фанатский сайт, созданный по игре Titalfall 2. Здесь есть каталог Титанов и
                    Пилотов, с их оружием и характеристиками.
                </p>
            </div>
            <div class="col item social">
                <a href="#"><i class="fa-brands fa-github"></i></a>
                <a href="#"><i class="fa-brands fa-telegram"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-google"></i></a>
            </div>
        </div>
        <p class="copyright">TitanFun2 © 2023</p>
    </div>
</footer>