/* -------------------- Common classes ----------------------- */

.content h2, .content h6 {
    padding-bottom: 15px;
    text-align: center;
    border-bottom: 1px solid aliceblue;
}

.content h3 {
    text-indent: 30px;
}

@media (max-width: 576px) {
    .content h3 {
        margin-top: 30px;
    }

    .content h2 {
        margin-top: 20px;
    }
}

.content p {
    text-align: justify;
    text-indent: 30px;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

.white-shadow {
    box-shadow: 0 0 10px aliceblue, 0 0 40px aliceblue;
}

.row {
    margin: 5px;
    padding: 10px;
}

.video-area {
    text-align: center;
}

.side-img-space {
    width: 100%;
    height: auto;
    background-size: cover;
    margin-left: 1px;
    box-shadow: 0 0 10px aliceblue, 0 0 40px aliceblue;
}

/* -------------------- Offcanfas and NavBar ----------------------- */

.transparent-nav {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0.3) 99%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0.3) 99%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 99%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00ffffff', GradientType=0);
}

.navbar-toggler {
    color: aliceblue;
}

.offcanvas-obs {
    color: aliceblue;
    background-color: rgba(51, 51, 51, 0.45);
    padding-top: 5%;
    padding-bottom: 5%;
    --bs-offcanvas-width: 20%;
}

.nav-obs {
    --bs-nav-link-color: aliceblue;
    --bs-nav-link-hover-color: aliceblue;
    --bs-nav-link-disabled-color: aliceblue;
    --bs-nav-pills-link-active-bg: aliceblue;
    --bs-nav-pills-link-active-color: rgba(3, 3, 3, 0.8);
    --bs-nav-pills-link-hover-color: black;
    font-size: 13px;

    padding: 0;
}

.nav > a:focus, .nav > a:hover {
    background-color: beige;
    color: black;
}

/* ------------------Footer----------------------- */


.footer-dark {
    padding: 50px 0;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.9) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.9) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
    color: aliceblue;
}

.footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}

.footer-dark ul a:hover {
    opacity: 0.8;
}

@media (max-width: 767px) {
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

.footer-dark .item.text {
    margin-bottom: 36px;
}

@media (max-width: 767px) {
    .footer-dark .item.text {
        margin-bottom: 0;
    }
}

.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer-dark .item.social {
    text-align: center;
}

@media (max-width: 991px) {
    .footer-dark .item.social {
        text-align: center;
        margin-top: 20px;
    }
}

.footer-dark .item.social > a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
}

.footer-dark .item.social > a:hover {
    opacity: 0.9;
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}


