* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*background: linear-gradient(135deg, rgba(88, 31, 244, 1) 0%, rgba(88, 31, 244, 1) 2%, rgba(233, 60, 236, 1) 100%);*/
    background-image: url('../img/login-backimage.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: aliceblue;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 38px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: aliceblue;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: aliceblue;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: aliceblue;
    margin-right: 3px;
}

.remember-forgot a {
    color: aliceblue;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn1 {
    width: 100%;
    height: 45px;
    background: aliceblue;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .btn1:hover {
    background: transparent;
    color: aliceblue;
    transition: 0.3s;
    transition-delay: 0.2s;
    border: 2px solid aliceblue;
    box-shadow: 0 0 5px aliceblue, 0 0 20px aliceblue;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link a {
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
}

.register-link a:hover {
    text-decoration: underline;
}

/*input[type="checkbox"] {*/
/*  -webkit-appearance: none;*/
/*  appearance: none;*/
/*  background-color: #fff;*/
/*  margin: 0;*/
/*}*/

/*input[type="checkbox"]:not(:checked),*/
/*input[type="checkbox"]:checked {*/
/*    position: absolute;*/
/*    display: none;*/
/*}*/

/*input[type="checkbox"]:not(:checked) + label,*/
/*input[type="checkbox"]:checked + label {*/
/*    position: relative;*/
/*    padding-left: 85px;*/
/*    padding-top: 2px;*/
/*    cursor: pointer;*/
/*    margin-top: 8px;*/
/*}*/

/*input[type="checkbox"]:not(:checked) + label:before,*/
/*input[type="checkbox"]:checked + label:before,*/
/*input[type="checkbox"]:not(:checked) + label:after,*/
/*input[type="checkbox"]:checked + label:after {*/
/*    content: '';*/
/*    position: absolute;*/
/*}*/

/*input[type="checkbox"]:not(:checked) + label:before,*/
/*input[type="checkbox"]:checked + label:before {*/
/*    width: 65px;*/
/*    height: 30px;*/
/*    background: rgba(255, 255, 255, .2);*/
/*    border-radius: 15px;*/
/*    left: 0;*/
/*    top: -3px;*/
/*    -webkit-transition: all .2s ease;*/
/*    transition: all .2s ease;*/
/*}*/

/*input[type="checkbox"]:not(:checked) + label:after,*/
/*input[type="checkbox"]:checked + label:after {*/
/*    width: 10px;*/
/*    height: 10px;*/
/*    background: rgba(255, 255, 255, .7);*/
/*    border-radius: 50%;*/
/*    top: 7px;*/
/*    left: 10px;*/
/*    -webkit-transition: all .2s ease;*/
/*    transition: all .2s ease;*/
/*}*/

/*!* on checked *!*/
/*input[type="checkbox"]:checked + label:before {*/
/*    background: #0F4FE6;*/
/*}*/

/*input[type="checkbox"]:checked + label:after {*/
/*    background: #ffffff;*/
/*    top: 7px;*/
/*    left: 45px;*/
/*}*/

/*input[type="checkbox"]:checked + label .ui,*/
/*input[type="checkbox"]:not(:checked) + label .ui:before,*/
/*input[type="checkbox"]:checked + label .ui:after {*/
/*    position: absolute;*/
/*    left: 6px;*/
/*    width: 65px;*/
/*    border-radius: 15px;*/
/*    font-size: 14px;*/
/*    font-weight: bold;*/
/*    line-height: 22px;*/
/*    -webkit-transition: all .2s ease;*/
/*    transition: all .2s ease;*/
/*}*/

/*input[type="checkbox"]:not(:checked) + label .ui:before {*/
/*    content: "no";*/
/*    left: 32px;*/
/*    color: rgba(255, 255, 255, .7);*/
/*}*/

/*input[type="checkbox"]:checked + label .ui:after {*/
/*    content: "yes";*/
/*    color: #ffffff;*/
/*}*/

/*input[type="checkbox"]:focus + label:before {*/
/*    box-sizing: border-box;*/
/*    margin-top: -1px;*/
/*}*/