body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../img/Profile-background.jpeg');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}