body {
    background-image: url('../../img/Password_change_image.jpg');
}

.link1 {
    background: aliceblue;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    padding: 10px;
    text-decoration: none;
}

.link1:hover {
    background: transparent;
    color: aliceblue;
    transition: 0.3s;
    transition-delay: 0.2s;
    border: 2px solid aliceblue;
    box-shadow: 0 0 5px aliceblue, 0 0 20px aliceblue;
}

.buttn1 {
    margin-top: 30px;
    margin-bottom: 15px;
}